# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Environment Variables
*.env
# .env.*
.flaskenv
.flaskenv.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter Notebooks
.ipynb_checkpoints

# Local Files
temp_images/
temp/
*.log
*.docx
*.tmp


*.png
*.jpeg
*.jpg
*.docx


config.yaml
